.places__container {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .places__container {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px) {
    .places__container {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .places__container {
        max-width: 90vw;
    }
}

@media screen and (max-width: 425px) {
    .places__container {
        max-width: 320px;
    }
}