.footer__container {
    margin: 0 auto;
    max-width: calc(100% - 48px*2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
}

@media screen and (max-width: 1023px) {
    .footer__container {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .footer__container {
        max-width: calc(100% - 16px*2);
    }
}

@media screen and (max-width: 767px) {
    .footer__container {
        flex-direction: column;
        gap: 48px;
    }
}