.cover__title {
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    line-height: 1.06;
    margin: 0;
    max-width: 560px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.cover__title:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
}