.lead__container {
    margin: 0 auto;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .lead__container {
        padding-top: 48px;
        max-width: 928px;
    }
}