.place {
    display: grid;
    grid-template-columns: 460px 484px;
    row-gap: 48px;
    column-gap: 40px;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 950px) {
    .place {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
}


@media screen and (max-width: 850px) {
    .place {
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}


@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: 320px;
        row-gap: 32px;
        padding-bottom: 50px;
    }
}